<form ng-submit="submit()" name="register" class="form-signin" novalidate>
    <h1 class="form-signin-heading text-muted">Register</h1>
    <input type="email" ng-model="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <p class="help-block" ng-show="register.email.$dirty && registir.email.$invalid">Please enter a proper email.</p>
    <input type="password" name="password" ng-model="password" class="form-control" placeholder="Password" required="">
    <input type="password" name="password_confirm" ng-model="password_confirm" class="form-control" placeholder="Confirm Password" required="" validate-equals="password">
    <p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirmation.$invalid">Please math the passwords.</p>
    <button ng-disabled="register.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">
			Register
		</button>
</form>